
/*---------- Barra de Navegação Topo--------*/
nav{
    width: 100vw;
    height: 92px;
    background-color: #CF2B2B;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-titulo{
    font-size: 44px;
    color: #FFFFFF;
    font-family: 'Righteous', cursive;
    width: 248px;
    height: 44px;
    margin-left: 21px;
    margin-top: 8px;
}

.nav-texto{
    font-size: 18px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    width: 226px;
    height: 17px;
    margin-left: 21px;
    margin-top: 5px;
}


/*------------------- Main ---------------------*/

main{
    margin-top: 123px;
    background-color: #E5E5E5;
}
/*---pratos---*/
.pratos{
    margin-top: 17px;
}

.prato__topo{
    width: 250px;
    height: 25px;
    font-family: 'Righteous', cursive;
    font-size: 26px;
    color: #333333;
    margin-left: 19px;
    margin-top: 27px;
    margin-bottom: 17px;
    

}

.prato{
    display: flex;
    overflow-x: scroll;

}
.prato__escolha{
    width: 172px;
    height: 216px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-right: 16px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    
}

/*--- configuracoes presentes em todas sections ---*/
img{
    width: 144px;
    height: 87px;
    margin-top: 18px;
    margin-left: 14px;
}

.main__titulo{
    font-size: 16px;
    color: #333333;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    width: 139px;
    height: 27px;
    margin-left: 15px;
    margin-top: 5px;
}

.main__descricao{
    font-size: 15px;
    color: #A6A6A6;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    width: 147px;
    height: 39px;
    margin-left: 14px;
    margin-top: 4px;
}

.main__preco{
    font-size: 16px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    width: 66px;
    height: 19px;
    margin-left: 14px;
    margin-top: 5px;
}

.main__margem{
    margin-left: 19px;
}


/*---bebidas---*/
.bebidas{
    margin-top: 17px;
}

.bebida__topo{
        width: 231px;
        height: 25px;
        font-family: 'Righteous', cursive;
        font-size: 26px;
        color: #333333;
        margin-left: 19px;
        margin-top: 27px;
        margin-bottom: 17px;

}

.bebida{
    display: flex;
    

    overflow-x: scroll;
}
.bebida__escolha{
    width: 172px;
    height: 216px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-right: 16px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
}

/*---sobremesas---*/
.sobremesas{
    margin-top: 17px;
}

.sobremesa__topo{
        width: 320px;
        height: 25px;
        font-family: 'Righteous', cursive;
        font-size: 26px;
        color: #333333;
        margin-left: 19px;
        margin-top: 27px;
        margin-bottom: 17px;
}

.sobremesa{
    display: flex;
    

    overflow-x: scroll;
}
.sobremesa__escolha{
    width: 172px;
    height: 216px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-right: 16px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
}






/*---------- Barra de Navegação Inferior--------*/
footer{
    width: 100vw;
    height: 92px;
    background-color: lightblue;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    width: 364px;
    height: 61px;
    background-color: #CBCBCB;
    border-radius: 35px;
    border: 1px solid #CBCBCB;
    padding: 0 70px;


}

button p{
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
}