
/*---------- Barra de Navegação Topo--------*/
nav{
    width: 414px;
    height: 92px;
    background-color: #CF2B2B;
    position: fixed;
    top: 0;
    left: 0;
}

.nav-titulo{
    font-size: 44px;
    color: #FFFFFF;
    font-family: 'Righteous', cursive;
}

.nav-texto{
    font-size: 18px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}


/*------------------- Main ---------------------*/

/*---pratos---*/
.pratos{
    margin-top: 92px;
}

.prato{
    display: flex;
}
.prato__escolha{
    width: 172px;
    height: 216px;
}

.prato__escolha img{
    width: 144px;
    height: 87px;
}

/*---bebidas---*/
.bebidas{
    margin-top: 92px;
}

.bebida{
    display: flex;
}
.bebida__escolha{
    width: 172px;
    height: 216px;
}

.bebida__escolha img{
    width: 144px;
    height: 87px;
}

/*---sobremesas---*/
.sobremesas{
    margin-top: 92px;
}

.sobremesa{
    display: flex;
}
.sobremesa__escolha{
    width: 172px;
    height: 216px;
}

.sobremesa__escolha img{
    width: 144px;
    height: 87px;
}







/*---------- Barra de Navegação Inferior--------*/
footer{
    width: 414px;
    height: 92px;
    background-color: lightblue;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    width: 364px;
    height: 61px;
    background-color: #CBCBCB;
    border-radius: 35px;
    border: 1px solid #CBCBCB;
    padding: 0 70px;


}

button p{
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
}